<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Load properties from application.properties -->
    <context:property-placeholder location="classpath:application.properties"/>

    <!-- Define MyPrinter bean -->
    <bean id="myPrinter" class="com.vertafore.printer.model.MyPrinter">
        <property name="message1" value="${printer.message1}"/>
        <property name="message2" value="${printer.message2}"/>
    </bean>
</beans>